<% if(stats.totalCount > 0){ %>
<% tool = $tool(),win = $getCommonVal(); %>
<% var now = tool.pageCalculate(stats.startIndex,stats.requestCount),max = tool.pageMax(stats.totalCount,stats.requestCount);%>
<% var length = 3,limit = length - 1,offset = limit - 1;%>
<table class="page UI-Page">
    <tr>
        <td>
            <div class="neighbor" <% if(now > 1){ %> data-events="click:<%=event%>" data-bind="<%=(now-2)*stats.requestCount%>" <% } %> >上一页</div>
        </td>
        <td>
            <ul class="jump">
                <% for(var i = (now == 1 || max < length) ? 1 : ((now == max ||max - limit < now) ? max - limit : win.Math.max(now - offset,1)),len = max <= limit ? max : ( i + limit > max ? i + 1 : i + limit);i <= len;i++){ %>
                <li <% if(i == now){ %> class="active" <% }else{ %> data-events="click:<%=event%>" data-bind="<%=(i-1)*stats.requestCount%>" <% } %> ><%=i%></li>
                <% } %>
            </ul>
        </td>
        <td>
            <div class="neighbor" <% if(now < max){ %> data-events="click:<%=event%>" data-bind="<%=now*stats.requestCount%>" <% } %>>下一页</div>
        </td>
        <td>
            <input type="text" class="amount" data-element="detailNode" v-input="page" v-min="1" v-max="<%=max%>">
        </td>
        <td><div class="redirect" <% if(now < max || now > 1){ %> data-events="click:<%=event%>" data-bind="detailNode" <% } %>>跳转</div></td>
        <td>共<span><%=max%></span>页</td>
    </tr>
</table>
<% } %>