.popup-modifypassword .body {
  padding-top: 1.04166667rem;
  font-size: 3px;
}
.popup-modifypassword .submit {
  margin: 0 auto 20px;
}
.popup-modifypassword .right-side {
  position: relative;
}
.popup-modifypassword .send-code {
  position: absolute;
  top: 0;
  right: 0.52083333rem;
}
.popup-modifypassword .send-code .btn-prime {
  font-size: 0.72916667rem;
  width: 4.6875rem;
  height: 1.5625rem;
  line-height: 1.5625rem;
  border-radius: 0.78125rem;
  background: #117fd7;
  color: #fff;
}
.popup-modifypassword .send-code .disabled {
  background-color: #666666;
}
